@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --base-colour: #ffffff;
    --text-colour: #4b8ae9;
    --text-colour-2: #d18888;
    --intro-colour: #ddeeff;
    --likes-colour: #d9f8f6;
    --dislikes-colour: #f5ccac;
    --primary-colour: #d2e9f7;
    --secondary-colour: #f0bbdd;
    --tertiary-colour: #bde5c4;
    --colour-1: #f0c0c0;
    --colour-2: #ffd6a5;
    --colour-3: #fdffb6;
    --colour-4: #caffbf;
    --colour-5: #9bf6ff;
    --colour-6: #a0c4ff;
    --colour-7: #e9eaeb;
    --colour-8: #8f8d8d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    font-family: Pixelify Sans, sans-serif;
    color: var(--text-colour);
}

body {
    padding: 1em;
    background-color: var(--base-colour);
}

nav {
    margin: 1em auto 3em auto;
    width: min(100000px, 100%);
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    font-family:Pixelify Sans, sans-serif;
    font-weight: bold;
}

nav li:first-child{
    margin-right: auto;
}

nav a{
    text-decoration: none;
    color: var(--text-colour);   
}

nav a:hover{
    text-decoration: underline;
}

header {
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--colour-1);
    padding: min(0.5em, 15%);
    border-radius: 1em;
}

section {
    margin: 2em auto;
    width: min(75em, 100%);
    padding: min(0.5em, 15%);
    border-radius: 1em;
}

.welcome-section{
    background-color: var(--intro-colour);
    padding: 1em;
}

.welcome-section h1{
    text-decoration: wavy underline;
}

.welcome-section ul{
    margin-top: 1em;
    list-style-type: disc;
    padding-left: 1.5em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}


header img{
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: center;
}

.text-container{
    flex: 0 1 34em;
}

.video-container {
    display: flex;
    align-items: flex-start;
    object-fit: cover;
    border: 1em;
}

.video-container p {
    display: flex;
    color: var(--text-colour);
    text-align: flex-end;
}

h1 {
    font-size: 2.5rem;
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25em;
}

.cta-button {
    align-items: center;
    display: inline-block;
    text-decoration: none;
    color: var(--colour-3);
    background-color: var(--primary-colour);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

.cta-button:hover {
    transform: scale(1.1);
}

.hockey{
    padding: 3em min(2em, 15%);
    background-color: var(--colour-2);
    text-align: center;
}

.hockey-images{
    background-color: var(--colour-2);
}

.grid-container {
    margin-top: 3em;
    margin-bottom: 3em;
    width: 100%
}

.grid-container img {
   border-radius: .5em;
}

.art {
    padding: 3em min(2em, 15%);
    background-color: var(--colour-3);
    text-align: center;
}

.art img{
    border-radius: 1em;
}

.singing{
    padding: 3em min(2em, 15%);
    background-color: var(--tertiary-colour);
    text-align: center;
    align-items: flex-start;
}

.singing li{
    font-size: 1.25em;
}

.likes_and_dislikes {
    padding: 3em min(2em, 15%);
    background-color: var(--intro-colour);
    text-align: center;
}

.likes {
    padding: 3em min(2em, 15%);
    background-color: var(--likes-colour);
    text-align: left;
}

.dislikes {
    padding: 3em min(2em, 15%);
    background-color: var(--dislikes-colour);
    text-align: left;
    color: var(--text-colour-2)
}

.likes h1, .dislikes h1{
    text-decoration: wavy underline;
}

.obsessions{
    padding: 3em min(2em, 15%);
    background-color: var(--text-colour);
    text-align: center;
    color: var(--base-colour);
}

.camera-roll {
    padding: 3em min(2em, 15%);
    background-color: var(--colour-7);
    text-align: center;
    color: var(--colour-8);
}

h2 {
    font-size: 2em;
}

section p{
    margin-top: 2em;
    font-size: 1.25em;
}

footer {
    padding: 1.5em;
    text-align: center;
}

footer a{
    margin: 0 1em;
    text-decoration: none;
    color: var(--text-colour);
}

footer a:hover{
    text-decoration: underline;
}

@media(max-width: 988px){
    header {
        text-align: center;
    }
    header .text-container{
        padding-top: 0;
    }
}

@media(max-width: 640px){
    nav li {
        display: none;
    }
    nav li:first-child,
    nav li:last-child {
        display: block;
    }
    header {
        margin-top: 0;
    }
    .cta-button {
        margin-top: .5em;
        width: 100%;
    }
}

.sticky {
    position: sticky;
    top: 0;
}

details {
    margin-top: 1em;
    background-color: var(--tertiary-colour);
    border-radius: 1em;
}

details summary {
    padding: 1em;
    font-size: 1.7rem;
}

details p {
    padding: 0 2em 2em 2em;
}

details img,
details video {
    padding: 2em;
    align-items: center;
}