@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

:root{
    --base-colour: #ffffff;
    --text-colour: #4b8ae9;
    --primary-colour: #bbddf0;
    --secondary-colour: #f0bbdd;
    --tertiary-colour: #a3d1ac;
    --colour-1: #f0c0c0;
    --colour-2: #ffd6a5;
    --colour-3: #fdffb6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

html {
    font-family: Pixelify Sans, sans-serif;
    color: var(--text-colour);
}

body {
    padding: 1em;
    background-color: var(--base-colour);
}

nav {
    margin: 1em auto 3em auto;
    width: min(100000px, 100%);
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 2em;
    font-family:Pixelify Sans, sans-serif;
    font-weight: bold;
}

nav li:first-child{
    margin-right: auto;
}

nav a{
    text-decoration: none;
    color: var(--text-colour);   
}

nav a:hover{
    text-decoration: underline;
}

header, section{
    margin: 2em auto;
    width: min(75em, 100%);
    background-color: var(--colour-1);
    padding: min(2em, 15%);
    border-radius: 1em;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3em;
}

header img{
    max-width: 100%;
    border-radius: 1em;
    object-fit: cover;
    object-position: center;
}

.text-container{
    flex: 0 1 34em;
}

h1 {
    font-size: 2.5rem;
}

.text-container p {
    margin: .75em 0 1em 0;
    font-size: 1.25em;
}

.cta-button {
    display: inline-block;
    text-decoration: none;
    color: var(--colour-3);
    background-color: var(--primary-colour);
    padding: .75em 1.25em;
    border-radius: .5em;
    font-weight: 600;
}

section {
    padding: 3em min(2em, 15%);
    background-color: var(--colour-2);
    text-align: center;
}

h2 {
    font-size: 2em;
}

section p{
    margin-top: 2em;
    font-size: 1.25em;
}